a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 150px;
    margin-top:2%;
    padding: 5px 5px;

}
a.active{
    color:red;
    background: #334be8;
    border:1px solid pink;
    border-radius: 15%;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(96, 93, 245);
    width: 100%;
    height: 100px;
    z-index: 99;
    /* display: flex; */
}